openapi: 3.0.0
info:
  version: 3.9.3
  title: 'Enterprise Management API'
  description: |

    #### Copyright
    © Aeris Communications, Inc. 2025. All rights reserved. No part of this document may be reproduced in any form without the written permission of the copyright owner.

    #### Disclaimer

    The contents of this document are subject to revision without notice due to continued progress in methodology, design and manufacturing.
    Aeris shall have no liability for any error or damage of any kind resulting from the use of this document.

    #### Trademark List

    All trademarks mentioned herein are the property of their respective owners.
    These are shown in the document Trademark Information.

    # Introduction

     This API provides a resource for getting information about
     enterprises and managing them.

     This API is rate-limited, exact limits
     are available in response message headers.

     # Important

     API audience must be prepared for compatible API extensions:

     - Be tolerant with
     unknown fields in the payload (see also Fowler’s "TolerantReader" post),
     i.e. ignore new fields but do not eliminate them from payload if needed
     for subsequent PUT requests.
     - Be prepared that "x-extensible-enum"
     return parameter may deliver new values. Either be agnostic or provide
     default behavior for unknown values.
     - Be prepared to handle HTTP status
     codes not explicitly specified in endpoint definitions.
     - Follow the
     redirect when the server returns HTTP status 301 Moved Permanently.

     # Deprecation

     API deprecation will be reflected in the OpenAPI definition.
     If a method on a path, a whole path or even a whole API endpoint
     (multiple paths) should be deprecated, they will be marked as deprecated.
     During deprecation phase, a Warning header (see RFC 7234 - Warning header)
     field will be added in the response. The warn-code will be 299 and the
     warn-text will inform about what is deprecated and when it will be
     completely removed.

     API audience should not start using a deprecated
     API.

     API audience is encouraged to monitor for Warning header.

    ## Scope

    This document covers the following topics:

    — An overview of the API

    — A detailed description of all operations offered by the API

    ## Prerequisites
    In this document, it is assumed that the user is familiar with the following:

    — Java Script Object Notation (JSON)

    — Basic understanding of REST web services

    — The [OpenAPI Initiative](https://www.openapis.org/) for the standardized format used in this document.

    ## Related Information
    The definition and explanation of acronyms and terminology and typographic conventions can be found in the following documents:

    — IoTA Glossary of Terms and Acronyms

    — Typographic Conventions

    # General API Guidelines

    ## Compatibility

    API audience must be prepared for compatible API extensions:

    - Be tolerant with unknown fields in the payload (see also Fowler’s "TolerantReader" post), i.e. ignore new fields but do not eliminate them from payload if needed for subsequent PUT requests.
    - Be prepared that "x-extensible-enum" return parameter may deliver new values. Either be agnostic or provide default behavior for unknown values.
    - Be prepared to handle HTTP status codes not explicitly specified in endpoint definitions.
    - Follow the redirect when the server returns HTTP status 301 Moved Permanently.

    ## Security

    This section describes the security measures in the API. Security measures include authentication, authorization, and encryption.

    ### Authentication and Authorization

    The API uses OAuth2 and OpenID Connect (OIDC) for authentication and authorization.

    All API endpoints require authentication, which is performed by passing a token in the Authorization header in each request, preceded by the word Bearer and a space. See the following example:
    ```
    curl -i -X GET "https://<baseURL>/iot/api/x-entities" -H "Content-Type: application/json" -H "Authorization: Bearer <TOKEN_GOES_HERE>"
    ```
    To fetch the token using e.g. curl, submit the following:
    ```
    curl -X POST "https://<baseURL>/iot/api/auth/token" -H "Accept: application/vnd.dcp-v1+json" -H "Content-Type: application/x-www-form-urlencoded" -d "grant_type=password&client_id=<client_id>&username=<username>&password=<password>"
    ```
    ### Encryption

    All API requests are encrypted using the HTTPS protocol to grant secure data transfer.

    ### Permission
    API permissions are authorized by authorization server based on the account roles. Required permissions for this API are documented in 'securitySchemes' section.
    You can view available permissions for your account through permission library in Service Portal by navigating Administration > Users & roles > Permission library > <PERMISSION_NAME>
    or Role administration > Actions > View permission library.

    Make sure permissions <PERMISSION_NAME> are available to your account before you start utilizing this API.


    ## Deprecation

    API deprecation will be reflected in the OpenAPI definition. If a method on a path, a whole path or even a whole API endpoint (multiple paths) should be deprecated, they will be marked as deprecated.
    During deprecation phase, a Deprecation header and a Sunset header fields will be added in the response.

    Example:
    ```
    Deprecation: Tue, 31 Dec 2024 23:59:59 GMT
    Sunset: Wed, 31 Dec 2025 23:59:59 GMT
    ```

    API audience should not start using a deprecated API.

    API audience is encouraged to monitor for Deprecation and Sunset header.
  contact:
    name: 'Aeris IoT SaaS'
    url: 'https://support.aeris.net/hc/en-us'
  x-audience: external-partner
  x-api-id: 30a38694-63dc-4fbd-8bed-5b8ffdfe0e19
servers:
  - url: 'https://iot-api.aeris.com/iot/api/ecm'
    description: 'Main API server'
paths:
  /enterprises:
    $ref: './paths/enterprises.yaml#/enterprises'
  /enterprises/{enterprise_id}:
    $ref: './paths/enterprises.yaml#/enterprise-by-id'
  /enterprises/{enterprise_id}/statuses:
    $ref: './paths/enterprises.yaml#/enterprise-statuses'
  /enterprises/{enterprise_id}/subscription-packages:
    $ref: './paths/subscription-packages.yaml#/enterprise-subscription-packages'
  /enterprises/{parent_enterprise_id}/offers:
    $ref: './paths/enterprises.yaml#/enterprise-offers'
  /enterprises/network-groups:
    $ref: './paths/network-groups.yaml#/network-groups'
  /enterprises/sim-specifications:
    $ref: './paths/subscription-packages.yaml#/sim-specifications'
  /enterprises/subscription_packages/{subscription_package_id}/deactivate:
    $ref: './paths/subscription-packages.yaml#/subscription-package-deactivate'
  /enterprises/enterprise_groups/{enterprise_group_id}:
    $ref: './paths/enterprise-groups.yaml#/enterprise-group-by-id'
components:
  parameters:
    $ref: './parameters/common.yaml'
  responses:
    $ref: './responses/common.yaml'
  headers:
    $ref: './responses/common.yaml#/headers'
  schemas:
    ProblemGeneric:
      $ref: './schemas/Problem.yaml#/ProblemGeneric'
    EnterprisesRead:
      $ref: './schemas/Enterprise.yaml#/EnterprisesRead'
    EnterpriseRead:
      $ref: './schemas/Enterprise.yaml#/EnterpriseRead'
    EnterpriseDetail:
      $ref: './schemas/Enterprise.yaml#/EnterpriseDetail'
    EnterpriseWrite:
      $ref: './schemas/Enterprise.yaml#/EnterpriseWrite'
    EnterpriseCreate:
      $ref: './schemas/Enterprise.yaml#/EnterpriseCreate'
    EnterpriseUpdate:
      $ref: './schemas/Enterprise.yaml#/EnterpriseUpdate'
    Connectivity:
      $ref: './schemas/Enterprise.yaml#/Connectivity'
    Address:
      $ref: './schemas/Enterprise.yaml#/Address'
    SimSpecification:
      $ref: './schemas/SubscriptionPackage.yaml#/SimSpecification'
    FormSpecification:
      $ref: './schemas/SubscriptionPackage.yaml#/FormSpecification'
    ProfileSpecification:
      $ref: './schemas/SubscriptionPackage.yaml#/ProfileSpecification'
    SubscriptionPackages:
      $ref: './schemas/SubscriptionPackage.yaml#/SubscriptionPackages'
    SubscriptionPackageBase:
      $ref: './schemas/SubscriptionPackage.yaml#/SubscriptionPackageBase'
    SubscriptionPackage:
      $ref: './schemas/SubscriptionPackage.yaml#/SubscriptionPackage'
    Offers:
      $ref: './schemas/SubscriptionPackage.yaml#/Offers'
    Offer:
      $ref: './schemas/SubscriptionPackage.yaml#/Offer'
    price:
      $ref: './schemas/SubscriptionPackage.yaml#/price'
    TpsPriceMap:
      $ref: './schemas/SubscriptionPackage.yaml#/TpsPriceMap'
    TemplateSubscriptionPackage:
      $ref: './schemas/SubscriptionPackage.yaml#/TemplateSubscriptionPackage'
    CamelProfile:
      $ref: './schemas/SubscriptionPackage.yaml#/CamelProfile'
    BasicData:
      $ref: './schemas/common.yaml#/BasicData'
    NetworkGroupsRead:
      $ref: './schemas/Enterprise.yaml#/NetworkGroupsRead'
    NetworkGroupRead:
      $ref: './schemas/Enterprise.yaml#/NetworkGroupRead'
    SimSpecificationsRead:
      $ref: './schemas/Enterprise.yaml#/SimSpecificationsRead'
    Status:
      $ref: './schemas/common.yaml#/Status'
    ProvisioningStatus:
      $ref: './schemas/common.yaml#/ProvisioningStatus'
    Problem:
      $ref: './schemas/Problem.yaml#/Problem'
    Empty:
      $ref: './schemas/common.yaml#/Empty'
    EnterpriseGroupWrite:
      $ref: './schemas/Enterprise.yaml#/EnterpriseGroupWrite'
    EnterpriseGroupUpdate:
      $ref: './schemas/Enterprise.yaml#/EnterpriseGroupUpdate'
    EnterpriseGroupRead:
      $ref: './schemas/Enterprise.yaml#/EnterpriseGroupRead'
    EnterpriseGroupDetail:
      $ref: './schemas/Enterprise.yaml#/EnterpriseGroupDetail'
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'The Enterprise API uses OAuth2 and OIDC for authentication and authorization.'
      flows:
        password:
          tokenUrl: 'https://iot-api.aeris.com/iot/api/auth/token'
          scopes:
            css_manage_enterprise_hierarchy: 'Grants access to read, create and             update enterprise and subscription package information.'
            css_view_resources: 'Grants access to read resource information.'
